@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  src: local('Graduate'), local('Graduate-Regular'),
       url('/fonts/graduate-v6-latin-regular.woff2') format('woff2'),
       url('/fonts/graduate-v6-latin-regular.woff') format('woff');
}
