@import 'normalize';
@import 'robotoregular';

html {
  color: #222;
  font-size: 1em;
  font-family: 'robotoregular';
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe {
  width: 100%;
  min-height: 180px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/* Hide but maintain layout */
.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/****************************************************************************/

body {
  background-color: #444;
  background-image: url("/images/pattern_dark.svg");
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #aaa;
}

main > nav,
main > article,
main > section {
  background-color: rgba(50, 150, 230, .2);
  border-radius: 3px;
  color: #cdd;
}

a {
  color: #b73;
  transition: color .5s, background .5s;
}
a:active,
a:hover {
  color: #d95;
}

a[href^="mailto:"]:before {
  content: "📧";
  padding-right: .5em;
}

/** Fake buttons **/

a.btn-primary,
a.btn-secondary,
a.btn-success,
a.btn-danger,
a.btn-warning,
a.btn-info,
a.btn-light,
a.btn-dark {
  text-decoration: none;
  display: inline-block;
  padding: .2em .5em;
  margin: .1em .2em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
  border: 1px solid;
  border-radius: .5em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

a.btn-primary:active, a.btn-primary:hover,
a.btn-secondary:active, a.btn-secondary:hover,
a.btn-success:active, a.btn-success:hover,
a.btn-danger:active, a.btn-danger:hover,
a.btn-warning:active, a.btn-warning:hover,
a.btn-info:active, a.btn-info:hover,
a.btn-light:active, a.btn-light:hover,
a.btn-dark:active, a.btn-dark:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

a.btn-primary {
  color: #cef;
  border-color: #25729a;
  background-color: #37a7e1;
  background-image: linear-gradient(to bottom, #37a7e1, #1c6395);
}
a.btn-primary:active,
a.btn-primary:hover {
  color: #dff;
  border-color: #1c5675;
  background-color: #26759e;
  background-image: linear-gradient(to bottom, #26759e, #133d5b);
}

a.btn-secondary {
  color: #bcc1c6;
  border-color: #536a76;
  background-color: #858592;
  background-image: linear-gradient(to bottom, #858592, #4a5258);
}
a.btn-secondary:active,
a.btn-secondary:hover {
  color: #c6d0d6;
  border-color: #556d7b;
  background-color: #787e7f;
  background-image: linear-gradient(to bottom, #787e7f, #404142);
}

a.btn-success {
  color: #bbffd0;
  border-color: #259a3c;
  background-color: #30c738;
  background-image: linear-gradient(to bottom, #30c73b, #1c852b);
}
a.btn-success:active,
a.btn-success:hover {
  color: #ccffd5;
  border-color: #1c752b;
  background-color: #269e35;
  background-image: linear-gradient(to bottom, #269e35, #135b18);
}

a.btn-danger {
  color: #fbb;
  border-color: #9a2525;
  background-color: #c73030;
  background-image: linear-gradient(to bottom, #c73030, #851c1c);
}
a.btn-danger:active,
a.btn-danger:hover {
  color: #fcc;
  border-color: #751c1c;
  background-color: #9e2626;
  background-image: linear-gradient(to bottom, #9e2626, #5b1313);
}

a.btn-warning {
  color: #48473d;
  border-color: #75701c;
  background-color: #d1c72c;
  background-image: linear-gradient(to bottom, #d1c72c, #645e0b);
}
a.btn-warning:active,
a.btn-warning:hover {
  color: #2f2e24;
  border-color: #656009;
  background-color: #9e9b26;
  background-image: linear-gradient(to bottom, #9e9b26, #4f4b10);
}

a.btn-info {
  color: #bbfff7;
  border-color: #259a88;
  background-color: #30c7be;
  background-image: linear-gradient(to bottom, #30c7b4, #1c8573);
}
a.btn-info:active,
a.btn-info:hover {
  color: #ccfff7;
  border-color: #1c7567;
  background-color: #269e8f;
  background-image: linear-gradient(to bottom, #269e8f, #135b4f);
}

a.btn-light {
  color: #3e3e3e;
  border-color: #999;
  background-color: #cacaca;
  background-image: linear-gradient(to bottom, #cbcbcb, #676767);
}
a.btn-light:active,
a.btn-light:hover {
  color: #313131;
  border-color: #757576;
  background-color: #a1a2a3;
  background-image: linear-gradient(to bottom, #9e9e9f, #484848);
}

a.btn-dark {
	color: #d2d2d2;
	border-color: #424242;
	background-color: #26759e;
	background-image: linear-gradient(to bottom, #535353, #1a1a1a);
}
a.btn-dark:active,
a.btn-dark:hover {
	color: #d8d9d9;
	border-color: #353535;
	background-color: #26759e;
	background-image: linear-gradient(to bottom, #474646, #0d0d0d);
}

nav a,
article a,
section a {
  color: #ea6;
}
nav a:active,
nav a:hover,
article a:active,
article a:hover,
section a:active,
section a:hover {
  color: #fb7;
}

blockquote {
  background-color: rgba(255, 255, 255, .4);
  color: #222;
  border-left: .5em solid #666;
  border-radius: 3px;
  padding: 0.5em .8em;
  margin: .5em 2%;
}

blockquote a {
  color: #850;
}
blockquote a:active,
blockquote a:hover {
  color: #730;
}

body > nav {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background-color: rgba(120, 120, 120, .2);
  border-radius: 3px;
}

body > nav > a {
  flex: 1 1 100%;
  width: 100%;
  padding: .2em 0;
  text-decoration: none;
  border-radius: 3px;
  background-color: rgba(40, 40, 40, .4);
  box-shadow: 0 0 5px rgba(100, 100, 100, .4);
}

body > nav#context > a {
  font-size: .8em;
  padding-top: .1em;
  padding-bottom: .1em;
}

body > nav#context > a:first-child::before {
    content: "";
}
body > nav#context > a::before {
  content: "⤷";
  padding-right: .5em;
}

body > nav > a:active,
body > nav > a:hover {
  background-color: rgba(30, 30, 30, .4);
  box-shadow: 0 0 5px rgba(80, 80, 80, .4);
}

body > nav#menu a:first-child,
body > nav#context a:last-child {
  border-radius: 3px;
  background-color: rgba(20, 20, 20, .4);
  box-shadow: 0 0 5px rgba(80, 80, 80, .4);
}


body > nav h1,
body > nav p,
body > nav img {
  margin: 0;
  font-size: 1em;
}

body > nav img {
  width: 3em;
}

.copyleft {
  padding-left: 1.2em;
  background: left center / 1em 1em no-repeat url("/images/copyleft.svg");
}

/** Multy column **/

.blocks > div {
  text-align: left;
}

#trombi > div {
  text-align: center;
}

#trombi img {
  border-radius: 10%;
}

.blocks {
  display: flex;
  flex-flow: column wrap;
}

.blocks > div {
  flex: 1 1 auto;
}

.flex-2col > *,
.flex-3col > *,
.flex-4col > *,
.flex-5col > *,
.flex-6col > *,
.flex-7col > *,
.flex-8col > * {
  width: 100%;
}

body > nav,
body > footer,
main > nav,
main > article,
main > section {
  padding: 5px 4%;
  margin: .5em 6%;
}

/** Footer **/

body > footer {
  text-align: right;
}

/** Media Queries **/

@media (min-width: 576px) {
  body > nav,
  body > footer,
  main > nav,
  main > article,
  main > section {
    padding: .5em 4%;
    margin: .5em 8%;
  }

  body > nav {
    flex-flow: row nowrap;
    align-items: center;
  }

  body > nav > a {
    /* container */
    flex: 0 1 auto;
    width: auto;
    padding: .5em 1em;
    margin-right: 1em;
    text-decoration: none;
    /* content */
    display: flex;
    flex-flow: row wrap;
  }

  body > nav img {
    padding-right: 1em;
  }

  body > nav > a > * {
    flex: 0 1 auto;
    margin: auto;
    height: 100%;
  }

  body > nav#context > a::before {
    content: "⤇";
    padding-right: .5em;
  }
  .blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .blocks > div {
    flex: 0 1 auto;
  }

  .flex-2col > *,
  .flex-4col > * {
    width: 45%;
  }
  .flex-3col > *,
  .flex-5col > *,
  .flex-6col > *,
  .flex-7col > *,
  .flex-8col > *,
  .flex-9col > * {
    width: 30%;
  }

  iframe {
    min-height: 400px;
  }
}

@media (min-width: 768px) {
  body > nav,
  body > footer,
  main > nav,
  main > article,
  main > section {
    padding: .5em 3.5%;
    margin: .5em 8%;
  }

  .flex-2col > * {
    width: 48%;
  }
  .flex-3col > *,
  .flex-5col > *,
  .flex-6col > *,
  .flex-9col > * {
    width: 31%;
  }
  .flex-4col > *,
  .flex-7col > *,
  .flex-8col > *,
  .flex-10col > * {
    width: 23%;
  }

  iframe {
    min-height: 650px;
  }
}

@media (min-width: 992px) {
  body > nav,
  body > footer,
  main > nav,
  main > article,
  main > section {
    padding: .5em 3.5%;
    margin: .5em 8%;
  }

  .flex-2col > * {
    width: 49%;
  }
  .flex-3col > *,
  .flex-6col > * {
    width: 32%;
  }
  .flex-4col > *,
  .flex-7col > *,
  .flex-8col > * {
    width: 24%;
  }
  .flex-5col > *,
  .flex-9col > *,
  .flex-10col > * {
    width: 19%;
  }

  iframe {
    min-height: 750px;
  }
}

@media (min-width: 1200px) {
  body > nav,
  body > footer,
  main > nav,
  main > article,
  main > section {
    padding: .5em 3%;
    margin: .5em 8%;
  }

  iframe {
    min-height: 850px;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
