@import 'normalize';

@import 'cadman';
@import 'graduate';
@import 'inconsolata';
@import 'salsa';
@import 'special_elite';
@import 'suez_one';


$asn-family: 'Salsa', sans-serif;
$asn-color: #eff;

$big-title-family: 'Suez One', serif;
$small-title-family: 'Graduate', serif;

$text-family: 'Cadman', sans-serif;

$code-family: "Inconsolata", monospace;
$quote-family: 'Special Elite', serif;

$text-color: #aaa;
$dark-text-color: #aaa;
$inverted-text-color: #222;

$link-color: #b73;
$link-hover-color: #d95;
$inverted-link-color: #850;
$inverted-link-hover-color: #730;

$title-color: #eff;

$bg-color: #444;
$bg-image: "/images/pattern_dark.svg";

$bg-overlay: rgba(50, 150, 230, .2);
$dark-bg-overlay: rgba(120, 120, 120, .2);
$inverted-bg-overlay: rgba(255, 255, 255, .5);
$selected-bg: #eee;
$inverted-border-color: #666;

html {
  color: $text-color;
  font-size: 1em;
  font-family: $text-family;
  line-height: 1.4;
  background-color: $bg-color;
  background-image: url($bg-image);
  background-size: 100% 100%;
  background-attachment: fixed;
}

pre {
  font-family: $code-family;
}

::-moz-selection {
  color: $inverted-text-color;
  background: $inverted-bg-overlay;
  text-shadow: none;
}

::selection {
  color: $inverted-text-color;
  background: $selected-bg;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe {
  width: 100%;
  min-height: 180px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/* Hide but maintain layout */
.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/****************************************************************************/

#menu,
#context {
  background-color: $dark-bg-overlay;
  border-radius: 3px;
}

main > nav,
main > article,
main > section {
  background-color: $bg-overlay;
  border-radius: 3px;
}

a {
  color: $link-color;
  transition: color .5s, background .5s;
}
a:active,
a:hover {
  color: $link-hover-color;
}

a[href^="mailto:"]:before {
  content: "📧";
  padding-right: .5em;
}

h1 { font-size: 2.4em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: .8em; }
h6 { font-size: .7em; }

main > article h1,
main > section h1,
main > article h2,
main > section h2 {
  font-family: $big-title-family;
  color: $title-color;
}
main > article h3,
main > section h3,
main > article h4,
main > section h4,
main > article h5,
main > section h5,
main > article h6,
main > section h6 {
  font-family: $small-title-family;
  color: $title-color;
}

main > article img,
main > section img {
  max-width: 100%;
}

/** Fake buttons **/

a.btn-primary,
a.btn-secondary,
a.btn-success,
a.btn-danger,
a.btn-warning,
a.btn-info,
a.btn-light,
a.btn-dark {
  text-decoration: none;
  display: inline-block;
  padding: .2em .5em;
  margin: .1em .2em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
  border: 1px solid;
  border-radius: .5em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

a.btn-primary:active, a.btn-primary:hover,
a.btn-secondary:active, a.btn-secondary:hover,
a.btn-success:active, a.btn-success:hover,
a.btn-danger:active, a.btn-danger:hover,
a.btn-warning:active, a.btn-warning:hover,
a.btn-info:active, a.btn-info:hover,
a.btn-light:active, a.btn-light:hover,
a.btn-dark:active, a.btn-dark:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
}

@mixin button($color, $border, $background, $gradient-start, $gradient-end) {
  color: $color;
  border-color: $border;
  background-color: $background;
  background-image: linear-gradient(to bottom, $gradient-start, $gradient-end);
}

a.btn-primary {
  @include button(#cef, #25729a, #37a7e1, #37a7e1, #1c6395);
}
a.btn-primary:active,
a.btn-primary:hover {
  @include button(#dff, #1c5675, #26759e, #26759e, #133d5b);
}

a.btn-secondary {
  @include button(#bcc1c6, #536a76, #858592, #858592, #4a5258);
}
a.btn-secondary:active,
a.btn-secondary:hover {
  @include button(#c6d0d6, #556d7b, #787e7f, #787e7f, #404142);
}

a.btn-success {
  @include button(#bbffd0, #259a3c, #30c738, #30c73b, #1c852b);
}
a.btn-success:active,
a.btn-success:hover {
  @include button(#ccffd5, #1c752b, #269e35, #269e35, #135b18);
}

a.btn-danger {
  @include button(#fbb, #9a2525, #c73030, #c73030, #851c1c);
}
a.btn-danger:active,
a.btn-danger:hover {
  @include button(#fcc, #751c1c, #9e2626, #9e2626, #5b1313);
}

a.btn-warning {
  @include button(#48473d, #75701c, #d1c72c, #d1c72c, #645e0b);
}
a.btn-warning:active,
a.btn-warning:hover {
  @include button(#2f2e24, #656009, #9e9b26, #9e9b26, #4f4b10);
}

a.btn-info {
  @include button(#bbfff7, #259a88, #30c7be, #30c7b4, #1c8573);
}
a.btn-info:active,
a.btn-info:hover {
  @include button(#ccfff7, #1c7567, #269e8f, #269e8f, #135b4f);
}

a.btn-light {
  @include button(#3e3e3e, #999, #cacaca, #cbcbcb, #676767);
}
a.btn-light:active,
a.btn-light:hover {
  @include button(#313131, #757576, #a1a2a3, #9e9e9f, #484848);
}

a.btn-dark {
  @include button(#d2d2d2, #424242, #26759e, #535353, #1a1a1a);
}
a.btn-dark:active,
a.btn-dark:hover {
  @include button(#d8d9d9, #353535, #26759e, #474646, #0d0d0d);
}

nav a,
article a,
section a {
  color: #ea6;
}
nav a:active,
nav a:hover,
article a:active,
article a:hover,
section a:active,
section a:hover {
  color: #fb7;
}

blockquote {
  background-color: $inverted-bg-overlay;
  color: $inverted-text-color;
  font-family: $quote-family;
  border-left: .5em solid $inverted-border-color;
  border-radius: 3px;
  padding: 0.5em .8em;
  margin: .5em 2%;
}

blockquote a,
a::selection {
  color: $inverted-link-color;
}
blockquote a:active,
blockquote a:hover,
a:active::selection,
a:hover::selection {
  color: $inverted-link-hover-color;
}

#menu {
  display: flex;
  flex-flow: column wrap;
}
#menu > div {
  flex: 1 1 100%;
  width: 100%;
}

#logo a {
  display: flex;
  flex-flow: column wrap;
}

#menulinks,
#context {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

#menulinks > a,
#context > a {
  flex: 1 1 100%;
  width: 100%;
  padding: .8em 0;
  text-decoration: none;
  border-radius: 3px;
  background-color: rgba(40, 40, 40, .4);
  box-shadow: 0 0 5px rgba(100, 100, 100, .4);
}

#context > a {
  font-size: .8em;
}

#context > a:first-child::before {
  content: "";
}
#context > a::before {
  content: "⤷";
  padding-right: .5em;
}

#logo > a:active,
#logo > a:hover,
#menulinks > a:active,
#menulinks > a:hover {
  background-color: rgba(30, 30, 30, .4);
  box-shadow: 0 0 5px rgba(80, 80, 80, .4);
}

#logo > a,
#context > a:last-child {
  border-radius: 3px;
  background-color: rgba(20, 20, 20, .4);
  box-shadow: 0 0 5px rgba(80, 80, 80, .4);
  text-decoration: none;
}


#logo > a > div,
#logo > a > img {
  margin: 0 auto;
  flex: 1 1 100%;
}

#logo h1 {
  color: $asn-color;
  font-family: $asn-family;
}

#logo > a > div > h1,
#logo > a > div > p {
  margin: 0;
  text-align: center;
}
#logo > a > div > h1 {
  font-size: 1em;
}
#logo > a > div > p {
  font-size: .9em;
}
#logo img {
  width: 3em;
}

.copyleft {
  padding-left: 1.2em;
  background: left center / 1em 1em no-repeat url("/images/copyleft.svg");
}

/** Multy column **/

.blocks > div {
  text-align: left;
}

#trombi > div {
  text-align: center;
}

#trombi img {
  border-radius: 10%;
}

.blocks {
  display: flex;
  flex-flow: column wrap;
}

.blocks > div {
  flex: 1 1 auto;
}

.flex-2col > *,
.flex-3col > *,
.flex-4col > *,
.flex-5col > *,
.flex-6col > *,
.flex-7col > *,
.flex-8col > * {
  width: 100%;
}

#menu,
#context {
  margin: .5em 2%;
}
body > footer,
main > nav,
main > article,
main > section {
  padding: 5px .5em;
  margin: .5em 2%;
}

/** Footer **/

body > footer {
  text-align: right;
}

/** Media Queries **/

@media (min-width: 576px) {
  body > footer,
  main > nav,
  main > article,
  main > section {
    padding: 5px 1em;
  }

  #menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-right: 1em;
  }
  #menu > div {
    width: auto;
  }

  #menu > #logo {
    flex: 1 1 auto;
    padding: .5em 0 .5em 1em;
  }
  #menu > #menulinks {
    flex: 1 1 auto;
  }

  #menu > #logo > a {
    flex-flow: row wrap;
    justify-content: center;
  }
  #menu > #logo > a > img,
  #menu > #logo > a > div {
    flex: 0 1 auto;
    margin: .5em;
    height:100%;
  }

  #menulinks,
  #context {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: .5em 0 .5em 1em;
  }

  #menulinks > a,
  #context > a {
    flex: 0 1 auto;
    width: auto;
    padding: .5em 1em;
    text-decoration: none;
    margin-right: 1em;
  }
  #menulinks > a:last-child {
    margin-right: -.5em;
  }

  #context > a::before {
    content: "⤇";
    padding-right: .5em;
  }

  .blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .blocks > div {
    flex: 0 1 auto;
  }

  .flex-2col > *,
  .flex-4col > * {
    width: 45%;
  }
  .flex-3col > *,
  .flex-5col > *,
  .flex-6col > *,
  .flex-7col > *,
  .flex-8col > *,
  .flex-9col > * {
    width: 30%;
  }

  iframe {
    min-height: 400px;
  }
}

@media (min-width: 768px) {
  body > footer,
  main > nav,
  main > article,
  main > section {
    padding: 5px 2em;
  }

  .flex-2col > * {
    width: 48%;
  }
  .flex-3col > *,
  .flex-5col > *,
  .flex-6col > *,
  .flex-9col > * {
    width: 31%;
  }
  .flex-4col > *,
  .flex-7col > *,
  .flex-8col > *,
  .flex-10col > * {
    width: 23%;
  }

  iframe {
    min-height: 650px;
  }
}

@media (min-width: 992px) {
  #menu > #logo {
    flex: 0 1 auto;
  }

  .flex-2col > * {
    width: 49%;
  }
  .flex-3col > *,
  .flex-6col > * {
    width: 32%;
  }
  .flex-4col > *,
  .flex-7col > *,
  .flex-8col > * {
    width: 24%;
  }
  .flex-5col > *,
  .flex-9col > *,
  .flex-10col > * {
    width: 19%;
  }

  iframe {
    min-height: 750px;
  }
}

@media (min-width: 1200px) {
  iframe {
    min-height: 850px;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
