@font-face {
  font-family: 'Salsa';
  font-style: normal;
  font-weight: 400;
  src: local('Salsa-Regular'),
       url('/fonts/salsa-v8-latin-regular.woff2') format('woff2'),
       url('/fonts/salsa-v8-latin-regular.woff') format('woff');
}
