@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'),
       url('/fonts/special-elite-v9-latin-regular.woff2') format('woff2'),
       url('/fonts/special-elite-v9-latin-regular.woff') format('woff');
}
