@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  src: local('Suez One'), local('SuezOne-Regular'),
       url('/fonts/suez-one-v3-latin-regular.woff2') format('woff2'),
       url('/fonts/suez-one-v3-latin-regular.woff') format('woff');
}
