body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* ---- HEADER ---- */

.name_header {
	color: black;
	font-size: 20px;
    font-weight: 700;
}

.name_header span{
    padding-left: 15px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}

.navbar-header {
	min-height: 75px;
}

.nav, .nav li a {
	min-height: 75px;
	vertical-align: center;
}

#nav1 {
	padding-top: 10px;
}