{% extends "index.html" %}
{% block title %}{{page.title | safe}}{% endblock title %}
{% block description %}{{page.description | safe}}{% endblock description %}

{% block content %}
        <section id="activites">
            <h2>Activités</h2>

            <div>
                <h3 id="ateliers">Ateliers</h3>
                <p>Des <a href="{{ get_url(path="./lock-picking/index.md") | safe}}">ateliers lock picking</a> ont lieu environ un samedi sur deux à 42 (annoncés sur #asn-lockpicking). Des <a href="{{ get_url(path="./ateliers-pentest/_index.md") | safe}}">ateliers d'initiation au pentesting</a> ont commencé début 2018.</p>
            </div>

            <div>
                <h3 id="conferences">Conférences</h3>
                <p>Nous avons organisé une <a href="https://www.youtube.com/watch?v=oVZEblXS4gc">conférence d'introduction générale à la sécurité</a> par deux étudiants de 42, ainsi qu'une <a href="https://www.youtube.com/watch?v=DYSw5IwWP4o">conférence d'initiation à la cryptographie</a> par un étudiant et un invité. Une conférence d'introduction au Logiciel Libre et à l'Open Source est prévue le 19 janvier 2019 à 15h.</p>
            </div>

            <div>
                <h3 id="partenariats-et-evenements-exterieurs">Partenariats et évènements extérieurs</h3>
                <p>Nous avons participé en tant que bénévoles à <a href="https://lehack.org/">leHACK</a> (anciennement Nuit du Hack) depuis 2017 et allons de nouveau le faire en 2019. Nous avons tenu un stand et aidé à l'organisation de l'atelier lock picking à <a href="https://passageenseine.fr/">Pas Sage en Seine</a> en 2017. Nous organisons un voyage groupé au <a href="https://fosdem.org/">FOSDEM</a> pour les étudiants de 42.</p>
            </div>

            <div>
                <h3 id="proposer-une-activite">Proposer une activité</h3>
                <p>Si vous avez une idée à proposer, un atelier, une conférence, un partenariat… <a href="{{ get_url(path="./contact/index.md") | safe}}">envoyez nous un message</a> par courrier électronique ou sur slack. Vous pouvez également venir en discuter lors d'une de nos réunions.</p>
            </div>
        </section>
{% endblock content %}
