<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{{section.title | safe}}{% endblock title %} - {{config.title | safe}}</title>
        <meta name="description" content="{% block description %}{{section.description | safe}}{% endblock description %}{{config.description | safe}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="{{ get_url(path="site.webmanifest", trailing_slash=false) | safe}}">
        <link rel="apple-touch-icon" href="{{ get_url(path="icon.png", trailing_slash=false) | safe}}">
        <link rel="icon" href="{{ get_url(path="favicon.ico", trailing_slash=false) | safe}}">

        <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) | safe}}">
    </head>
    <body>

        <nav>
            <a href="{{ config.base_url | safe}}">
                <img src="/images/logo.svg" alt="Logo ASN">
                <div>
                    <h1>Association Sans Nom</h1>
                    <p>Libre et Sécurité à 42</p>
                </div>
            </a>
            <a href="{{ get_url(path="./contact/index.md") | safe}}">Nous contacter</a>
            <a href="{{ get_url(path="./membre/index.md") | safe}}">Devenir Membre</a>
            <a href="{{ get_url(path="./statuts/index.md") | safe}}">Statuts</a>
        </nav>
{% block extra_nav %}{% endblock extra_nav %}
        <main class="container">
{% block content %}
        <section>
            <h2>Libre et sécurité</h2>
            <p>Le Libre et la sécurité partagent des valeurs provenant du hacking&nbsp;: étudier le fonctionnement des choses, les améliorer, trouver des failles pour les détourner de leur usage premier, partager ses découvertes avec ses pairs et le reste du monde. Nous vous invitons à faire vivre ces valeurs avec l'Association Sans Nom à travers des ateliers, des conférences et d'autres activités internes ou publiques, ainsi que la gestion de services pour et par les membres eux-mêmes.</p>
            <p><a href="#activites" class="btn-primary">Qu'est-ce qu'on y fait&nbsp;?</a> <a href="{{ get_url(path="./membre/index.md") | safe}}" class="btn-success">Où est-ce que je signe&nbsp;?</a></p>
        </section>

        <section>
            <h2>Branches</h2>
            <p>Les activités de l'association sont actuellement réparties entre trois pôles&nbsp;: Libre, Sécurité et Lock picking.</p>

            <div class="blocks flex-3col">
                <div>
                    <h3>Libre</h3>
                    <p>Découvrez le monde des Logiciels Libres et comment y contribuer. Échangez des conseils sur l'auto-hébergement de son courrier électronique, de son nœud de réseaux social, etc. Participez à la gestion des services fournis pas l'association.</p>
                </div>

                <div>
                    <h3>Sécurité</h3>
                    <p>Partagez vos connaissances en sécurité informatique, que vous soyez novice, amateur ou expert. Des domaines variés peuvent être abordés, du Web à l'exploitation de binaire en passant par la cryptographie, au travers de conférences et d'ateliers pratiques.</p>
                </div>

                <div>
                    <h3>Lock picking</h3>
                    <p>La sécurité ne se limite pas aux logiciels, n'oublions pas la sécurité physique. Nous nous intéressons par exemple au fonctionnement des serrures physiques, électroniques ou biométriques. Des ateliers de lock picking (l'art du crochetage de serrure) sont organisés régulièrement.</p>
                </div>
            </div>
        </section>

        <section id="activites">
            <h2>Activités</h2>

            <div class="blocks flex-4col">
                <div>
                    <h3 id="ateliers">Ateliers</h3>
                    <p>Des <a href="{{ get_url(path="./lock-picking/index.md") | safe}}">ateliers lock picking</a> ont lieu environ un samedi sur deux à 42 (annoncés sur #asn-lockpicking). Des <a href="{{ get_url(path="./ateliers-pentest/_index.md") | safe}}">ateliers d'initiation au pentesting</a> ont commencé début 2018.</p>
                </div>

                <div>
                    <h3 id="conferences">Conférences</h3>
                    <p>Nous avons organisé une <a href="https://www.youtube.com/watch?v=oVZEblXS4gc">conférence d'introduction générale à la sécurité</a> par deux étudiants de 42, ainsi qu'une <a href="https://www.youtube.com/watch?v=DYSw5IwWP4o">conférence d'initiation à la cryptographie</a> par un étudiant et un invité. Une conférence d'introduction au Logiciel Libre et à l'Open Source est prévue le 19 janvier 2019 à 15h.</p>
                </div>

                <div>
                    <h3 id="partenariats-et-evenements-exterieurs">Partenariats et évènements extérieurs</h3>
                    <p>Nous avons participé en tant que bénévoles à <a href="https://lehack.org/">leHACK</a> (anciennement Nuit du Hack) depuis 2017 et allons de nouveau le faire en 2019. Nous avons tenu un stand et aidé à l'organisation de l'atelier lock picking à <a href="https://passageenseine.fr/">Pas Sage en Seine</a> en 2017. Nous organisons un voyage groupé au <a href="https://fosdem.org/">FOSDEM</a> pour les étudiants de 42.</p>
                </div>

                <div>
                    <h3 id="proposer-une-activite">Proposer une activité</h3>
                    <p>Si vous avez une idée à proposer, un atelier, une conférence, un partenariat… <a href="{{ get_url(path="./contact/index.md") | safe}}">envoyez nous un message</a> par courrier électronique ou sur slack. Vous pouvez également venir en discuter lors d'une de nos réunions.</p>
                </div>
            </div>
        </section>
{% endblock content %}

        </main>

        <footer id="footer">
            <p><span class="copyleft">Copyleft</span> 2017-2018 Association Sans Nom et contributeurs - <a href="https://github.com/asn42/website">code source</a></p>
        </footer>
    </body>
</html>
