{% extends "index.html" %}
{% block title %}{{page.title | safe}}{% endblock title %}
{% block description %}{{page.description | safe}}{% endblock description %}

{% block content %}
        <section>
            <h2>Devenir membre</h2>
            <p>Bien que certaines activités de l'association soient ouvertes au public, nous n'acceptons comme adhérents que des personnes ayant un lien avec 42 (étudiants, anciens étudiants, staff…).</p>
            <p>Pour nous rejoindre, il faut accepter <a href="{{ get_url(path="./statuts/index.md") | safe}}">les statuts de l'association</a> et payer une cotisation de 15 euros à un des membres du Bureau (en échange d'un justificatif, si vous le demandez) en lui indiquant votre nom. Le Bureau valide ensuite (sauf exception) l'adhésion et vous faites partie de l'association !</p>
        </section>
{% endblock content %}
