{% extends "index.html" %}
{% block title %}{{ page.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}

{% block content %}

        <section>
            <h2>Devenir membre</h2>
            <p>Nous ouvrirons très prochainement l'adhésion à de nouveaux membres. Bien que certaines activités de l'association soient ouvertes au public, nous n'accepterons comme adhérents que des personnes ayant un lien avec 42 (étudiants, anciens étudiants, staff…).</p>
        </section>

{% endblock content %}
