{% extends "layout.html" %}

{% block page_title %}{{ page.title | safe }}{% endblock page_title %}

{% block page_description %}{{ page.description | safe }}{% endblock page_description %}

{% block language %}
{% if page.extra.translations %}
{% for translation_path in page.extra.translations %}
{%set translation = get_page(path=translation_path) %}
<a href="{{translation.permalink}}">{{ trans(key="language_name", lang=translation.lang) | capitalize }}</a>
{% endfor %}
{% else %}
{% for language in config.languages %}
{% if language.code != lang %}
{% if language.code == config.default_language %}
<a href="/">{{ trans(key="language_name", lang=language.code) | capitalize }}</a>
{% else %}
<a href="/{{language.code}}/">{{ trans(key="language_name", lang=language.code) | capitalize }}</a>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock language %}

{% block nav %}
  {% for ancestor_path in page.ancestors %}
  {% if lang == config.default_language %}
    {% set ancestor = get_section(path=ancestor_path) %}
  {% else %}
    {% set ancestor = get_section(path=ancestor_path | replace(from="/_index.md", to="/_index." ~ lang ~ ".md")) %}
  {% endif %}
    <a href="{{ancestor.permalink | safe}}">{{ancestor.title | lower | safe}}</a>
  {% endfor %}
  {% if page.section %}
    <a href="{{page.section.permalink | safe}}">{{page.section.title | lower | safe}}</a>
  {% endif %}
    <a>{{page.title | lower | safe}}</a>
{% endblock nav %}

{% block content %}
{% if page.date %}
<section id="date">
{% if lang == "fr" %}
  {{ page.date
     | date(format="%A %d %B %Y")
     | replace(from="Monday", to=trans(key="monday", lang=lang))
     | replace(from="Tuesday", to=trans(key="tuesday", lang=lang))
     | replace(from="Wednesday", to=trans(key="wednesday", lang=lang))
     | replace(from="Thursday", to=trans(key="thursday", lang=lang))
     | replace(from="Friday", to=trans(key="friday", lang=lang))
     | replace(from="Saturday", to=trans(key="saturday", lang=lang))
     | replace(from="Sunday", to=trans(key="sunday", lang=lang))
     | replace(from="January", to=trans(key="january", lang=lang))
     | replace(from="February", to=trans(key="february", lang=lang))
     | replace(from="March", to=trans(key="march", lang=lang))
     | replace(from="April", to=trans(key="april", lang=lang))
     | replace(from="May", to=trans(key="may", lang=lang))
     | replace(from="June", to=trans(key="june", lang=lang))
     | replace(from="July", to=trans(key="july", lang=lang))
     | replace(from="August", to=trans(key="august", lang=lang))
     | replace(from="September", to=trans(key="september", lang=lang))
     | replace(from="October", to=trans(key="october", lang=lang))
     | replace(from="November", to=trans(key="november", lang=lang))
     | replace(from="December", to=trans(key="december", lang=lang))
	 | capitalize
   }}
{% else %}
  {{ page.date | date(format="%A, %B %d, %Y") }}
{% endif %}
</section>
{% endif %}

{% if page.extra.untranslated %}
{% set original = get_page(path=page.extra.untranslated) %}
<section id="untranslated">
    {{ trans(key="not_translated_yet", lang=lang) }} 
</section>
<section id="page">
{{ original.content | safe }}
</section>
{% else %}
<section id="page">
{{ page.content | safe }}
</section>
{% endif %}
{% endblock content %}

{%block source %} (<a href="{{ config.extra.source_root | safe }}{{ config.extra.source_path | safe }}/{{ page.relative_path | safe }}">{{trans(key="this_page", lang=lang)}}</a>){% endblock %}
