{% extends "layout.html" %}

{% block page_title %}{{ page.title | safe }}{% endblock page_title %}

{% block page_description %}{{ page.description | safe }}{% endblock page_description %}

{% block language %}
{% if page.extra.translations %}
{% for translation_path in page.extra.translations %}
{%set translation = get_page(path=translation_path) %}
<a href="{{translation.permalink}}">{{ trans(key="language_name", lang=translation.lang) | capitalize }}</a>
{% endfor %}
{% else %}
{% for language in config.languages %}
{% if language.code != lang %}
{% if language.code == config.default_language %}
<a href="/">{{ trans(key="language_name", lang=language.code) | capitalize }}</a>
{% else %}
<a href="/{{language.code}}/">{{ trans(key="language_name", lang=language.code) | capitalize }}</a>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock language %}

{% block nav %}
  {% for ancestor_path in page.ancestors %}
  {% if lang == config.default_language %}
    {% set ancestor = get_section(path=ancestor_path) %}
  {% else %}
    {% set ancestor = get_section(path=ancestor_path | replace(from="/_index.md", to="/_index." ~ lang ~ ".md")) %}
  {% endif %}
    <a href="{{ancestor.permalink | safe}}">{{ancestor.title | lower | safe}}</a>
  {% endfor %}
  {% if page.section %}
    <a href="{{page.section.permalink | safe}}">{{page.section.title | lower | safe}}</a>
  {% endif %}
    <a>{{page.title | lower | safe}}</a>
{% endblock nav %}

{% block content %}
{% if page.date %}
<section id="date">
  {{ page.date
     | date(format="%A %d %B %Y")
     | replace(from="Monday", to="lundi")
     | replace(from="Tuesday", to="mardi")
     | replace(from="Wednesday", to="mercredi")
     | replace(from="Thursday", to="jeudi")
     | replace(from="Friday", to="vendredi")
     | replace(from="Saturday", to="samedi")
     | replace(from="Sunday", to="dimanche")
     | replace(from="January", to="janvier")
     | replace(from="February", to="février")
     | replace(from="March", to="mars")
     | replace(from="April", to="avril")
     | replace(from="May", to="mai")
     | replace(from="June", to="juin")
     | replace(from="July", to="juillet")
     | replace(from="August", to="août")
     | replace(from="September", to="septembre")
     | replace(from="October", to="octobre")
     | replace(from="November", to="novembre")
     | replace(from="December", to="décembre")
	 | capitalize
   }}
</section>
{% endif %}

{% if page.extra.untranslated %}
{% set original = get_page(path=page.extra.untranslated) %}
<section id="untranslated">
    {{ trans(key="not_translated_yet", lang=lang) }} 
</section>
<section id="page">
{{ original.content | safe }}
</section>
{% else %}
<section id="page">
{{ page.content | safe }}
</section>
{% endif %}
{% endblock content %}

{%block source %} (<a href="{{ config.extra.source_root | safe }}{{ config.extra.source_path | safe }}/{{ page.relative_path | safe }}">{{trans(key="this_page", lang=lang)}}</a>){% endblock %}
