{% extends "layout.html" %}
{% block page_title %}{{ page.title | safe }}{% endblock page_title %}
{% block page_description %}{{ page.description | safe }}{% endblock page_description %}
{% block nav %}
  {% for ancestor_path in page.ancestors %}
    {% set ancestor = get_section(path=ancestor_path) %}
    <a href="{{ancestor.permalink | safe}}">{{ancestor.title | safe | lower}}</a>
  {% endfor %}
  {% if page.section %}
    <a href="{{page.section.permalink | safe}}">{{page.section.title | safe | lower}}</a>
  {% endif %}
    <a>{{page.title | safe | lower}}</a>
{% endblock nav %}
{% block content %}
<section id="date">
{% if page.date %}
  {{ page.date
     | date(format="%A %d %B %Y")
     | replace(from="Monday", to="lundi")
     | replace(from="Tuesday", to="mardi")
     | replace(from="Wednesday", to="mercredi")
     | replace(from="Thursday", to="jeudi")
     | replace(from="Friday", to="vendredi")
     | replace(from="Saturday", to="samedi")
     | replace(from="Sunday", to="dimanche")
     | replace(from="January", to="janvier")
     | replace(from="February", to="février")
     | replace(from="March", to="mars")
     | replace(from="April", to="avril")
     | replace(from="May", to="mai")
     | replace(from="June", to="juin")
     | replace(from="July", to="juillet")
     | replace(from="August", to="août")
     | replace(from="September", to="septembre")
     | replace(from="October", to="octobre")
     | replace(from="November", to="novembre")
     | replace(from="December", to="décembre")
	 | capitalize
   }}
   {% endif %}
</section>
<section id="page">
{{ page.content | safe }}
</section>
{% endblock content %}
