{% extends "index.html" %}
{% block title %}{{section.title | safe}}{% endblock title %}
{% block description %}{{section.description | safe}}{% endblock description %}

{% block content %}
<section>
{{section.content | safe}}
    <ul>
    {% for subsection in section.subsections %}
        <li>
            <a href="{{subsection.permalink | safe}}">{{subsection.title}}</a>
            <ul>
                {% for page in subsection.pages %}
                    <li>
                        <a href="{{page.permalink | safe}}">{{page.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock content %}
