{% extends "index.html" %}
{% block title %}{{section.title | safe}}{% endblock title %}
{% block description %}{{section.description | safe}}{% endblock description %}

{% block extra_nav %}
{% set parent_section = get_section(path="ateliers-pentest/_index.md") %}
<nav><a href="{{parent_section.permalink | safe}}">Retour à la liste des {{parent_section.title | safe | lower}}</a></nav>
{% endblock extra_nav %}

{% block content %}
<section>
{{section.content | safe}}
    <ul>
        {% for page in section.pages %}
        <li><a href="{{page.permalink | safe}}">write-up de {{page.extra.author}}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
